{% extends "layout.html" %}
{% block content %}

	<div class="content-section">
	  <div class="media account-section">
	    <img class="rounded-circle account-img" src={{ image_source }}>
	    <div class="media-body account-info">
	      <h2 class="account-heading">{{ user.name }}</h2>
	      <p class="text-secondary">Age: {{ user.age }}</p>
	      <p class="text-secondary">Gender: {{ user.sex }}</p>
	      <p class="text-secondary">Bio: {{ user.bio }}</p>
	      <a class="mr-2" href={{ url_for('change_accountinfo') }}>Change your information</a>
	      <a class="mr-2" href={{ url_for('change_password') }}>Change password</a>
	    </div>
	  </div>
	</div>
	
	{% for event, players in data[::-1] %}
		<div class="card mt-4 ml-5 mr-5 eventcard">
			<div class="row">
				<div class="col-10 card-body text-left">
					<h5 class="card-title">{{event[1]}}</h5>
					<p class="card-text">{{event[6]}}</p>
				</div>
				<div class="col text-right">
					<button type="button" class="btn btn-danger btn-circle" onclick="window.location.href='{{ url_for( 'exit_event', id=event[0]) }}';"><b>X</b></button>
				</div>
			</div>
			<div class="row">
				<div class="col text-right">
					<a href=#{{event[0]}} data-toggle="collapse" class="card-link">More info</a>
				</div>
			</div>
			
			<div id={{event[0]}} class="collapse card-body">
				<div class="row mb-1">
					<div class="col">
						<p class="card-text"><b>What:</b></p>
					</div>
					<div class="col">
						<p class="card-text"><b>Where:</b></p>
					</div>
					<div class="col">
						<p class="card-text"><b>When:</b></p>
					</div>
					<div class="col">
						<p class="card-text"><b>Players:</b></p>
					</div>
				</div>
				<div class="row mb-1 mt-1">
					<div class="col">
						<p class="card-text">{{event[2]}}</p>
					</div>
					<div class="col">
						<p class="card-text">{{event[3]}}, {{event[4]}}</p>
					</div>
					<div class="col">
						<p class="card-text">{{event[5]}}</p>
					</div>
					<div class="col">
						<p class="card-text">{{event[8]}}/{{event[7]}}</p>
					</div>
				</div>
				
				<div class="row">
				{% for player in players %}
					<div class="col-2">
						<p class="card-text"><b>{{player[2]}}</b></p>
						<a href=#><img class="rounded-circle account-img" src='static/small_pics/{{ player[6] }}'></a>
						<p class="card-text"> +358{{player[5]}}</p>
					</div>
				{% endfor %}
				</div>
			</div>
		</div>
		
	{% endfor %}
	<br>
	<br>

{% endblock content %}