{% extends "layout.html" %}
{% block content %}
	<div class="content-section create-event">
		<form method="POST" action="">
				{{ form.hidden_tag() }}
				<fieldset class="form-group">
					<legend class="border-bottom login-label mb-4">Change your password</legend>
					
					<div class="form-group">
						{{ form.old.label(class="form-control-label") }}
						{% if form.old.errors %}
							{{ form.old(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.old.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.old(class="form-control form-control-lg") }}
						{% endif %}
					</div>
					
					<div class="form-group">
						{{ form.new.label(class="form-control-label") }}
						{% if form.new.errors %}
							{{ form.new(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.new.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.new(class="form-control form-control-lg") }}
						{% endif %}
					</div>
					
					<div class="form-group">
						{{ form.conf.label(class="form-control-label") }}
						{% if form.conf.errors %}
							{{ form.conf(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.conf.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.conf(class="form-control form-control-lg") }}
						{% endif %}
					</div>
					
				</fieldset>
				<div class="form-group">
					{{ form.submit(class="btn create-btn") }}
				</div>
			</form>
			
		<div class="border-top pt-3">
			<small class="text-muted">
				<a class="ml-2" style="color: purple;" href="{{url_for('account')}}">Back to your account</a>
				<br>
				<br>
			</small>
		</div>
			
	</div>

{% endblock content %}